# Core dependencies
boto3>=1.28.0
requests>=2.31.0
nanoid>=2.0.0
mcp>=1.10.0
bedrock-agentcore
bedrock-agentcore-starter-toolkit
httpx
# Text processing
langchain>=0.0.350
langchain-text-splitters>=0.0.1
# strands agent
strands-agents
strands-agents-tools
# langchain agent
langgraph
langchain_aws